{% extends "sindec_base/base.html" %}
{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/strike.css" %}" crossorigin="anonymous">
    <style>
        .ui-widget {
            width: 100%;
            background: white;
        {#            height: 2em;#}
        }
    </style>
    <form id="form_reclamacao">
        {% csrf_token %}
        <div class="strike">
            <span style="font-size: large;"><b>Formulário de reclamação</b></span>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="ui-widget">
                    <div class="col-xs-12">
                        <label>Empresa: </label>
                    </div>
                    <div class="col-xs-12">
                        <select id="combobox_empresas" name="empresa" required>
                            <option value="" disabled selected>Escolha uma empresa...</option>
                            {% for e in empresas %}
                                <option value="{{ e.pk }}">{{ e.cnpj }} - {{ e.razao_social_sindec }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-default"
                                aria-haspopup="true" aria-expanded="false"><b>
                            <span class="glyphicon-plus"></span></b>
                        </button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="ui-widget">
                    <div class="col-xs-12">
                        <label>Assunto: </label>
                    </div>
                    <div class="col-xs-12">
                        <select id="combobox_assuntos" name="assunto" required>
                            <option value="" disabled selected>Escolha um assunto...</option>
                            {% for a in assuntos %}
                                <option value="{{ a.pk }}">{{ a.descricao_assunto }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-default"
                                aria-haspopup="true" aria-expanded="false"><b>
                            <span class="glyphicon-plus"></span></b>
                        </button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Problema: </label>
                    </div>
                    <div class="col-xs-12">
                        <div class="ui-widget">
                            <select id="combobox_problemas" class="form-control" name="problema" required>
                                <option value="" disabled selected>Escolha um problema...</option>
                                {% for p in problemas %}
                                    <option value="{{ p.pk }}">{{ p.descricao_problema }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" class="btn btn-default"
                                aria-haspopup="true" aria-expanded="false"><b>
                            <span class="glyphicon-plus"></span></b>
                        </button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="strike">
                <span style="font-size: large">Dados do reclamador:</span>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Gênero do Reclamador: </label>
                    </div>
                    <div class="col-xs-12">
                        <div class="ui-widget">
                            <select id="combobox_genero" class="form-control" name="reclamador_genero" required>
                                <option value="" disabled selected>Escolha um gênero...</option>
                                {% for genero in generos %}
                                    <option value="{{ genero.0 }}">{{ genero.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Faixa etária do Reclamador: </label>
                    </div>
                    <div class="col-xs-12">
                        <div class="ui-widget">
                            <select id="combobox_data_nascimento" class="form-control" name="reclamador_data_nascimento"
                                    required>
                                <option value="" disabled selected>Escolha uma faixa etária...</option>
                                {% for fe in fes %}
                                    <option value="{{ fe.0 }}">{{ fe.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="input_reclamador_cep">CEP Reclamador: </label>
                    </div>
                    <div class="col-xs-12">
                        <input type="text" class="form-control" id="input_reclamador_cep" placeholder="Ex.: 37500228"
                               name="reclamador_cep" pattern="[0-9]+">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="input_reclamador_cep">Data de Nascimento do Reclamador: </label>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group date">
                            <input type="text" class="form-control datepicker" pattern="[0-9]{2}/[0-9]{2}">

                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Salvar Reclamação</button>
                </div>
            </div>
        </div>
    </form>

    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/combobox_autocomplete.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.ptBR.min.js" %}"></script>
    <script>
        $(function () {
            $("#combobox_empresas").combobox();
            $("#combobox_assuntos").combobox();
            $("#combobox_problemas").combobox();
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                todayBtn: true,
                defaultViewDate: 'years',
                forceParse: true,
                autoclose: true,
                language: 'pt-BR',
            })
        });

        $("#form_reclamacao").submit(function (event) {
            var data = $("#form_reclamacao").serialize();
            var url = "{% url "reclamacao_add" %}";
            $.post(url, data, function(data){
                alert("Deu certo!");
            });
            event.preventDefault();
        });
    </script>

{% endblock %}