{% extends "sindec_base/base.html" %}
{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/strike.css" %}" crossorigin="anonymous">
    <style>
        .ui-widget {
            width: 100%;
            background: white;
        {#            height: 2em;#}
        }
    </style>
    <form id="form_cnae">
        {% csrf_token %}
        <div class="strike">
            <span style="font-size: large;"><b>Formulário de busca cnae</b></span>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="ui-widget">
                    <div class="col-xs-12">
                        <label>CNAE: </label>
                    </div>
                    <div class="col-xs-12">
                        <select id="combobox_cnaes" name="cnae_id" required>
                            <option value="" disabled selected>Escolha um cnae...</option>
                            {% for p in cnaes %}
                                <option value="{{ p.pk }}">{{ p.descricao_cnae }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Alterar CNAE</button>
                </div>
            </div>
        </div>
    </form>

    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/combobox_autocomplete.js" %}"></script>
    <script>
        $(function () {
            $("#combobox_cnaes").combobox();
        });

        $("#form_cnae").submit(function (event) {
            var data = $("#form_cnae").serialize();
            var url = "{% url "cnae_update" 123 %}".replace("123", $("#combobox_cnaes").find(":selected").val());
            window.location.replace(url);
            event.preventDefault();
        });
    </script>

{% endblock %}