<table id="{{ table_id }}" class="display text-center dt-center" style="text-align: center;">
    <thead>
    <tr>
        {% for c in columns %}
            <th class="dt-center">{{ c }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for r in row_data %}
        <tr>
            <th class="dt-center">{{ r.name }}</th>
            {% for v in r.data %}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="application/javascript">
    $("#{{ table_id }}").DataTable();
</script>