<div class="col-xs-12">
    <div id="{{ chart_id }}" style="height: 400px; margin: 0 auto"></div>
</div>
<br/>
<script>
    $(function () {
        $('#{{ chart_id }}').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: "{{ titulo_grafico }}"
            },
            subtitle: {
                text: '{{ subtitulo_grafico }}'
            },
            xAxis: {
                categories: {{ categorias|safe }},
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{{ labely }}'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} {{ metrica }}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [
                {% for c in conjuntos %}
                    {
                        name: "{{ c.name }}",
                        data: {{ c.data|safe }}
                    },
                {% endfor %}
            ]
        });
    });
</script>