<div class="col-xs-12 col-sm-12">
    <div id="{{ chart_id }}" style="height: 400px; margin: 0 auto"></div>
</div>

<script>
    $(function () {
        $('#{{ chart_id }}').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: "{{ titulo_grafico }}"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "{{ labely }}",
                colorByPoint: true,
                data: [
                    {% for c in conjuntos %}
                        {
                            name: "{{ c.name }}",
                            y: {{ c.data }}
                        },
                    {% endfor %}
                ]
            }]
        });
    });
</script>