.logoimg {
    height: 100%;
    border-radius: 10px;
    border: solid thin black;
    background-color: white;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

main {
    /*margin-top: 5%;*/
}