.logoimg {
    height: 100%;
    border-radius: 10px;
    border: solid thin black;
    background-color: white;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media print {
    .noprint {
        display: none;
    }
    .yesprint{
        display: block;
    }
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 1%;  /* this affects the margin in the printer settings */
}

main {
    /*margin-top: 5%;*/
}
