{% extends "sindec_base/base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>Bem-vindo, {{ user.username }}!</h1>

    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" crossorigin="anonymous">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {% include "sindec_components/dashboard_sidebar.html" %}
            </div>

            <div class="col-xs-12 col-sm-9">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row text-center">
                            <h3 class="list-group-item-heading">Relatório de reclamações abertas e fechadas por mês</h3>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon">De</span>
                                    <input type="text" class="form-control" id="ano_inicial">
                                    <span class="input-group-addon">até</span>
                                    <input type="text" class="form-control" id="ano_final">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <button class="btn btn-default" id="btn_gerar_relatorio"
                                        onclick="gerar_relatorio_rrafm($('#ano_inicial').val(), $('#ano_final').val())">
                                    Gerar
                                    Relatório
                                </button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row text-center">
                            <h3 class="list-group-item-heading">Relatório Top 10</h3>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon">De</span>
                                    <input type="text" class="form-control" id="ano_inicial_top_10">
                                    <span class="input-group-addon">até</span>
                                    <input type="text" class="form-control" id="ano_final_top_10">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <button class="btn btn-default" id="btn_gerar_relatorio"
                                        onclick="gerar_relatorio_top_10($('#ano_inicial_top_10').val(), $('#ano_final_top_10').val())">
                                    Gerar
                                    Relatório
                                </button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row text-center">
                            <h3 class="list-group-item-heading">Relatório do Cadastro Nacional de Reclamações
                                Fundamentadas</h3>

                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control" id="ano_geral">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <button class="btn btn-default" id="btn_gerar_relatorio"
                                        onclick="gerar_relatorio_geral($('#ano_geral').val())">
                                    Gerar Relatório
                                </button>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item noprint">
                        <h3 class="list-group-item-heading text-center">
                            Relatório de Reclamações por dados do consumidor
                        </h3>
                        <div class="row text-center">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                                <div class="input-group input-daterange">
                                        <input type="text" class="form-control" id="ano_rpr">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 noprint">
                                <button class="btn btn-default" id="btn_gerar_relatorio"
                                    onclick="gerar_relatorio_rpr($('#ano_rpr').val())">Gerar Relatório
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/highchart.js" %}"></script>
    <script src="{% static "js/highchart-export.js" %}"></script>
    <script src="{% static "js/highchart-more.js" %}"></script>
    <script type="application/javascript">
        $('.input-daterange input').each(function () {
            $(this).datepicker({
                format: 'yyyy',
                autoclose: true,
                minViewMode: "years",
                maxViewMode: "years"
            });
        });

        $("#ano_final").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#btn_gerar_relatorio").click();
            }
        });

        function gerar_relatorio_rrafm(ano_inicial, ano_final) {

            var rurl = '{% url "relatorio_reclamacoes_abertas_mes" ano_inicial="0000" ano_final="0001" %}'
                    .replace('0000', ano_inicial).replace('0001', ano_final);
            window.location.replace(rurl);
        }

        function gerar_relatorio_top_10(ano_inicial, ano_final) {
            var rurl = '{% url "relatorio_reclamacoes_abertas_mes" ano_inicial="0000" ano_final="0001" %}'
                    .replace('0000', ano_inicial).replace('0001', ano_final);
            window.location.replace(rurl);
        }

        function gerar_relatorio_geral(ano) {
            var rurl = '{% url "relatorio_geral" ano="0000" %}'
                    .replace('0000', ano);
            window.location.replace(rurl);
        }

        function gerar_relatorio_rpr(ano) {
            var rurl = '{% url "relatorio_rpr" ano="0000" %}'
                    .replace('0000', ano);
            window.location.replace(rurl);
        }
    </script>

    {#    <link rel="stylesheet" href="{% static "css/datatable.css" %}" crossorigin="anonymous">#}
    {#    <script src="{% static "js/datatable.js" %}"></script>#}
    {#    {% include "sindec_components/data_table.html" with table_id='iddatabela' columns=tcol row_data=trd %}#}

    {#    <script src="{% static "js/highchart.js" %}"></script>#}
    {#    <script src="{% static "js/highchart-export.js" %}"></script>#}
    {#    <script src="{% static "js/highchart-more.js" %}"></script>#}

    {#    <div class="col-xs-12 col-sm-12">#}
    {#        <div id="chart" style="height: 400px; margin: 0 auto"></div>#}
    {#    </div>#}

    {#    {% include "sindec_components/relatorio_grafico_barra.html" %}#}
    {#    {% include "sindec_components/relatorio_grafico_pizza.html" %}#}
{% endblock %}